venv/
__pycache__/
.pytest_cache/

tests/
.github/

mlruns/
mlflow.db

notebooks/
data/
artifacts/

.dvc/
.git/

src/pipelines/
src/data/

src/features/preprocess.py
src/features/feature_config.py

src/training/save_model.py
src/training/split.py
src/training/train.py

main.py
README.md

dvc.lock
dvc.yaml

pytest.ini

.env