venv/
__pycache__/
.pytest_cache/

tests/
.github/

mlruns/
mlflow.db

notebooks/
data/
artifacts/

.dvc/
.git/

!data/processed/
!data/processed/train_data.csv
!data/processed/new_data.csv


src/features/preprocess.py
src/features/feature_config.py


main.py
README.md

dvc.lock
dvc.yaml

pytest.ini

.env